#root {
  margin: 0 auto;
  text-align: center;
}

.overlay-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.308);
  padding: 3px 10px;
  position: relative;
  bottom: 3px;
  right: 15px;
  border-radius: 6px;
}

.overlay-icon:hover {
  color: #0fabd6;
}
